{% extends 'bootstrap/base.html'%}

<!-- Navbar block  --> 
{% block navbar %}

    {% include 'navbar.html' %}
    
{% endblock %}


{%block styles %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/boostrap.min.css')}}"/>
{% endblock %}

{% block scripts %}
<script src=""></script>
{% endblock%}
